@import "src/common-variables";

.InputDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid $green;
  border-radius: 4px;
  width: 120px;
  background-color: transparent;
  color: rgba(208, 207, 213, 1);

  & > span {
    margin-left: 8px;
    font-weight: bold;
    color: $green;
  }

  & > input {
    color: $white;
    padding: 4px 16px;
    outline: none;
    background: transparent;
    border: none;

  }
}


