@import "src/common-variables";

.PointCreateForm {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .InputsDiv {
    display: flex;
    gap: 16px;
  }

  .ActionsDiv {
    display: flex;
    gap: 40px;

    & > button {
      font-weight: bold;

      &:hover {
        background-color: $green;
        color: $btn-text-green;
      }
    }
  }
}
