@import "src/common-variables";

.Button {
  background-color: transparent;
  border: none;
  color: $grey;
  border-radius: 4px;
  padding: 6px 12px;
  height: 32px;
  line-height: 20px;
  text-decoration: none;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.Text {
    &:hover {
      background: rgba(white, 0.1);
    }
  }

  &.Contained {
    border-radius: 8px;
    background: $green-gradient;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    color: $btn-text-green;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 32px;
  }

  &.Outlined {
    border-radius: 12px;
    border: 1px solid $green;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    color: rgba(203, 203, 209, 1);
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 46px;
  }

  &.Normal {
    padding: 6px 12px;
    height: 36px;
    line-height: 24px;
  }

  &.Small {
    padding: 4px 8px;
    height: 30px;
    line-height: 22px;
  }

  &.Large {
    //padding: 8px 16px;
    height: 42px;
    line-height: 26px;
  }

  &:disabled {
    opacity: 0.5;
  }
}
