@import "src/common-variables";

.CircleCreateForm {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .InputsDiv {
    display: flex;
    gap: 16px;
  }

  .ActionsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .CancelBtn {
      color: white;
      text-decoration: none;

      &:hover {
        color: lightgrey;
      }
    }

    & > button {
      font-weight: bold;

      &:hover {
        background-color: $green;
        color: $btn-text-green;
      }
    }
  }
}
