@import "common-variables";

.AppRoot {
  height: 100%;
  background-color: $blue;

  .Page {
    display: flex;
    flex-direction: column;

    .PageContent {
      display: flex;
      padding: 0 $page-padding;
      gap: 16px;
    }
  }
}
