$grey: #8c8ebe;
$blue: rgba(10, 25, 41, 1);
$white: rgba(203, 203, 209, 1);
$green-gradient: linear-gradient(135deg, #2ba6a1 0%, #03f4a7 100%);
$border-blue: rgba(16, 49, 83, 1);
$board-item-blue: rgba(0, 30, 60, 1);
$green:  #39C095;
$navbar-purple: rgba(27, 21, 56, 1);
$btn-text-green: #14343E;
$box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
$page-padding: 24px;
