$grey: #8c8ebe; //text.secondary
$white: #cbcbd1;  //  text.primary

$border-blue: #103153; //blue.border
$board-item-blue: #001e3c; //blue.card

$navbar-purple: rgba(27, 21, 56, 1); // background.paper
$blue: rgba(10, 25, 41, 1); // background.default

$btn-text-green: #14343E; //green.main
$green:  #39C095; //green.light

$blue: rgba(208, 207, 213, 1);


$green-gradient: linear-gradient(135deg, #2ba6a1 0%, #03f4a7 100%);
